:root{
  --main-color: #cddafa;
  --white-color: white;
}
body{
  margin: 0;
  padding: 0;
}
.conteiner{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.header{
}
.header_inner{
  background-color: var(--main-color);
}
.header_logo{
  width: 200px;
  height: 75px;
}
.header_menu_img{
  position: absolute;
  top: 25px;
  right: 10%;
  width: 30px;
  height: 30px;
}
.zamovlenya{
  color: #0c24ad;
  text-align: center;
  font-size: 16px;
}
.zamovlenya_text{
  padding-left: 5px;
  color: #0c24ad;
  font-size: 14px;
}
.number_content_inner{
  color: black;
}
.phone_number{
  margin-left: 5px;
  padding: 0;
}
.phone_number_inner{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.video{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

}

.footer_text{
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
}
.footer_inner{
  background-image: url("img/futer.jpg");
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size:cover;
}








.popup{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup:target .popup_content{
  transform: translate(0px, 0px);
  opacity: 1;
}
.popup_area{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup_body{
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  transition: all 0.8s ease 0s;
}
.popup_content{
  background-color: var(--main-color);
  color: black;
  width: 65%;
  padding-top: 30px;
  padding-left: 20px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0 ;
  transform: translate(100%, 0px);
}
.popup_close{
  position: absolute;
  right: 20px;
  top: 20px;
  text-decoration: none;
}
.popup_close_img{
  height: 20px;
  width: 20px;
}
.popup_list{

}
.popup_list_content{
 list-style: none;
 padding: 0px;
 margin: 0;
}
.popup_menu{
  font-size: 20px;
  margin-bottom: 30px;
}
.popup_menu_link{
  text-decoration: none;
  color: black;
}


/* products */
.content_products{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.content_products_inner{
  /* display: flex; */
}
.content_products_inner{
  display: flex;
  flex-direction:column;
  justify-content: center;
  -webkit-box-shadow: 6px 8px 20px -1px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 6px 8px 20px -1px rgba(0, 0, 0, 0.68);
  box-shadow: 6px 8px 20px -1px rgba(0, 0, 0, 0.68);
  border-radius: 5px;
  width: 200px;
  margin-top: 8px;
}
.content_products_title{
  text-align: center;
  color: #0c24ad;
  margin: 0;
  padding: 0;
}
.content_products_img{
  display: flex;
  justify-content: center;
}
.content_products_text{
  border-top: solid 1px black;
  padding-top: 8px;
  padding-bottom: 5px;
}
.content_products_img_inner{
  height: 150px;
  padding-bottom: 8px;
  padding-top: 8px;
}
.content_products_price_balon{
  text-align: center;
  padding-top: 8px;
}
.content_products_text_inner{
  font-size: 17px;
  margin: 5px 20px;
}