<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <header id="header" class="header">
        <div class="header_inner">
            <div class="conteiner">
                <img class="header_logo" src="../img/logo.png" alt="error">
                <a href="#popup" class="header_menu"><img class="header_menu_img" src="../img/menu.png" alt="error"></a>
            </div>
        </div>
    </header>
    <content>
        <div class="content_inner">
            <h3 class="about_water_titel_top">«Сузір’я АРКТИКА»</h3>
            <h3 class="about_water_titel">ЙОДОВАНА</h3>
            <p class="about_water_text">&nbsp&nbsp У 1 літрі води «Сузір'я АРКТИКА» ЙОДОВАНА міститься 40мкг йоду. Технологія виробництва води дозволяє точно дотримуватись рекомендованої концентрації йоду, яка безпечна і в той же час достатня для щоденної профілактики йододефіциту у дітей та дорослих.</p>
            <p class="about_water_text">&nbsp&nbsp При регулярному вживанні «Сузір'я АРКТИКА» ЙОДОВАНА: утворює гормони щитовидної залози; знижує ризик розвитку ракових захворювань; регулює розумовий розвиток у дітей; зміцнює імунітет; стимулює розумову діяльність; підвищує активність та працездатність; забезпечує ефективну роботу серцево-судинної та центральної нервової системи; забезпечує ефективну роботу опорно-рухового апарату. </p>
            <p class="about_water_text">&nbsp&nbsp Основні переваги води «Сузір'я АРКТИКА» ЙОДОВАНА: йод засвоюється організмом людини практично на 90%, оскільки міститься у воді на іонному рівні.</p>
            <p class="about_water_text">&nbsp&nbsp «Сузір'я АРКТИКА» ЙОДОВАНА — це перша вода в Дніпропетровській області, ефективність якої була підтверджена результатами Державної Санітарно-Епідеміологічної Експертизи України.</p>
            <p class="about_water_text">&nbsp&nbsp Всесвітня організація охорони здоров'я та Міжнародна рада з контролю за йоддефіцитними станами рекомендують такі рівні щоденного споживання йоду залежно від віку:</p>
            <ul class="about_water_list">
                <li class="about_water_list_inner">50 мкг для дітей грудного віку (перші 12 місяців); </li>
                <li class="about_water_list_inner">90 мкг для дітей молодшого віку (від 2 до 6 років);</li>
                <li class="about_water_list_inner">150 мкг для дорослих; </li>
                <li class="about_water_list_inner">200 мкг для вагітних і жінок, що годують.</li>
            </ul>
            <p class="about_water_text">&nbsp&nbsp Крім внутрішнього застосування йодовану воду корисно використовувати зовнішньо — вона добре дезінфікує рани і сприяє швидкому відновленню епітелію.</p>
            <h3 class="about_water_titel">Бутильована вода</h3>
            <p class="about_water_text">&nbsp&nbsp Бутильована вода відповідає державним стандартам і гігієнічним вимогам до питної води, поміщена в гігієнічний контейнер (ємність) і продається для споживання людиною.</p>
            <h3 class="about_water_titel">Переваги бутильованої води:</h3>
            <ol class="about_water_list">
                <li class="about_water_list_inner">Безумовно, чиста, якісна вода, яка може в залежності від виробника мати два джерела походження:</li> 
                <ul class="about_water_list">
                    <li class="about_water_list_inner">природна доочищена вода, що видобувається з глибоких горизонтів; </li>
                    <li class="about_water_list_inner">водопровідна, глибоко очищена (в основному за допомогою мембранних технологій) води з наступною ремінералізацією.</li>
                </ul>
                <li class="about_water_list_inner">Не містить добавок штучного походження.</li>
                <li class="about_water_list_inner">Не містить калорій.</li>
                <li class="about_water_list_inner">Єдине надійне джерело води у випадках стихійних та антропогенних лих.</li>
            </ol>
            <h3 class="about_water_titel">Яку воду пити?</h3>
            <p class="about_water_text">&nbsp&nbsp «Сузір'я АРКТИКА» для щоденного вживання, що має збалансований склад мікроелементів, який дозволяє споживати її без будь-яких обмежень. Вода «Сузір'я АРКТИКА» гарна для вгамування спраги, приготування їжі та різних напоїв для всієї родини.</p>
            <p class="about_water_text">Ви залишитеся задоволені своїм вибором та смаком нашої води.</p>
            <p class="about_water_text_right">З найкращими побажаннями, «Сузір'я АРКТИКА».</p>
        </div>
    </content>
    <footer> 
        <div class="footer_inner">
            <div class="conteiner">
                <div class="footer_inner_text">
                    <p class="footer_text">©2005-2022. Очищена питна вода "Сузір'я АРКТИКА". Всі права захищені.</p>
                </div>
            </div>
        </div>
    </footer>
    <div id="popup" class="popup">
        <a href="#header" class="popup_area"></a>
       <div class="popup_body">
           <div class="popup_content">
               <a href="#header" class="popup_close"><img class="popup_close_img" src="../img/close_icon.png" alt=""></a>
               <div class="popup_list">
                   <ul class="popup_list_content">
                        <li class="popup_menu"><a class="popup_menu_link" href="../index.html">Головна</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./products.html">Продукція</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./orders.html">Замовлення</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./about_water.html">Про воду</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./certificates.html">Сертифікати</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./franchising.html">Франчайзинг</a></li>
                   </ul>
               </div>
           </div>
       </div>
   </div>
</body>
</html>