<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <header id="header" class="header">
        <div class="header_inner">
            <div class="conteiner">
                <img class="header_logo" src="../img/logo.png" alt="error">
                <a href="#popup" class="header_menu"><img class="header_menu_img" src="../img/menu.png" alt="error"></a>
            </div>
        </div>
    </header>
    <content>
        <div class="content_franchising_inner">
            <img src="../img/partners.png" alt="" class="franchising_img_inner">
            <h2 class="franchising_titel_inner">Франчайзинг</h2>
            <p class="franchising_text_inner">&nbsp&nbsp Якщо Ви бажаєте відкрити свій бізнес та заробляти на ринку України, ми пропонуємо Вам реалізовувати питну воду під торговою маркою <b>"Сузір'я АРКТИКА"</b>. Дилерами можуть бути юридичні особи та індивідуальні підприємці.</p>
            &nbsp<p class="franchising_text_inner">&nbsp&nbsp З перших днів співпраці Дилер закуповує продукцію за умов передоплати. Надалі можуть бути розглянуті й інші варіанти оплати.</p>   
            &nbsp<p class="franchising_text_inner">&nbsp&nbsp Доставка води здійснюється силами Дилера чи силами найнятих транспортно-експедиторських компаній за його рахунок. Постачальник всіляко сприяє організації доставки та забезпечує належну упаковку товару.</p>
            &nbsp<p class="franchising_text_inner">&nbsp&nbsp Виробник ухвалює рішення про продовження дії дилерського Договору. Дилерський договір може бути розірвано у випадках, якщо Дилер порушив його умови.</p>
            &nbsp<p class="franchising_text_inner">&nbsp&nbsp Завдання дилера – обслуговувати свій регіон, а не задовольняти власні потреби.</p>
            &nbsp<p class="franchising_text_inner">&nbspСпоживачі води для своїх цілей не можуть купувати продукцію за Дилерськими цінами.</p>
            &nbsp<p class="franchising_text_inner">&nbspДилер повинен бути економічно заможною компанією, здатною працювати власними коштоми і від свого імені.</p>
            &nbsp<p class="franchising_text_inner">&nbspДилер має бути зацікавлений у просуванні на ринку регіону продукції <b>"Сузір'я АРКТИКА"</b>.</p><p></p>
            <b class="franchising_text_inner">Будемо раді працювати з Вами!</b>
        </div>
    </content>
    <footer> 
        <div class="footer_inner">
            <div class="conteiner">
                <div class="footer_inner_text">
                    <p class="footer_text">©2005-2022. Очищена питна вода "Сузір'я АРКТИКА". Всі права захищені.</p>
                </div>
            </div>
        </div>
    </footer>
    <div id="popup" class="popup">
        <a href="#header" class="popup_area"></a>
       <div class="popup_body">
           <div class="popup_content">
               <a href="#header" class="popup_close"><img class="popup_close_img" src="../img/close_icon.png" alt=""></a>
               <div class="popup_list">
                   <ul class="popup_list_content">
                        <li class="popup_menu"><a class="popup_menu_link" href="../index.html">Головна</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./products.html">Продукція</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./orders.html">Замовлення</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./about_water.html">Про воду</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./certificates.html">Сертифікати</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./franchising.html">Франчайзинг</a></li>
                   </ul>
               </div>
           </div>
       </div>
   </div>
</body>
</html>