<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <header id="header" class="header">
        <div class="header_inner">
            <div class="conteiner">
                <img class="header_logo" src="../img/logo.png" alt="error">
                <a href="#popup" class="header_menu"><img class="header_menu_img" src="../img/menu.png" alt="error"></a>
            </div>
        </div>
    </header>
    <content>
        <div class="content_inner">
            <div class="content_products">
                <div class="content_products_title">Вода «Сузір'я АРКТИКА» збагачена киснем</div><div class="content_products_img"></div><div class="content_products_text"></div>
            </div>
            <div class="content_products">
                <div class="content_products_title">Вода «Сузір'я АРКТИКА» ЙОДОВАНА</div><div class="content_products_img"></div><div class="content_products_text"></div>
            </div>
            <div class="content_products">
                <div class="content_products_title">Вода «Сузір'я АРКТИКА» збагачена киснем</div><div class="content_products_img"></div><div class="content_products_text"></div>
            </div>
            <div class="content_products">
                <div class="content_products_title">Вода «Сузір'я АРКТИКА» ЙОДОВАНА</div><div class="content_products_img"></div><div class="content_products_text"></div>
            </div>
            <div class="content_products">
                <div class="content_products_title">Дистильована вода</div><div class="content_products_text"></div>
            </div>
            <div class="content_products">
                <div class="content_products_title">Дистильована вода</div><div class="content_products_img"></div><div class="content_products_text"></div>
            </div>
            <div class="content_products">
                <div class="content_products_title">Помпа</div><div class="content_products_img"></div><div class="content_products_text"></div>
            </div>
            <div class="content_products">
                <div class="content_products_title">Кулери підлогові</div><div class="content_products_img"></div><div class="content_products_text"></div>
            </div>
            <div class="content_products">
                <div class="content_products_title">Кулери настільні</div><div class="content_products_img"></div><div class="content_products_text"></div>
            </div>
        </div>
    </content>
    <footer> 
        <div class="footer_inner">
            <div class="conteiner">
                <div class="footer_inner_text">
                    <p class="footer_text">©2005-2022. Очищена питна вода "Сузір'я АРКТИКА". Всі права захищені.</p>
                </div>
            </div>
        </div>
    </footer>
    <div id="popup" class="popup">
        <a href="#header" class="popup_area"></a>
       <div class="popup_body">
           <div class="popup_content">
               <a href="#header" class="popup_close"><img class="popup_close_img" src="../img/close_icon.png" alt=""></a>
               <div class="popup_list">
                   <ul class="popup_list_content">
                        <li class="popup_menu"><a class="popup_menu_link" href="../index.html">Головна</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="components/products.html">Продукція</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./orders.html">Замовлення</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./about_water.html">Про воду</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./components/certificates.html">Сертифікати</a></li>
                        <li class="popup_menu"><a class="popup_menu_link" href="./components/franchising.html">Франчайзинг</a></li>
                   </ul>
               </div>
           </div>
       </div>
   </div>
</body>
</html>